#container{
    width: 600px;
    margin: 10px;
    margin: auto;
}
select{
    margin: 5px;
    width: 300px;
    padding: 4px;
}
input{
    margin: 5px;
}
ul{
    list-style-type: none;
    padding: 5px;
    margin: 3px;
}
li{
    list-style-type: none;
    padding: 5px;
    margin: 15px;
    border: 1px solid black;
}